.coffee-panel {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  margin-top: 16px;
  margin-bottom: 16px;
}

.anticon-star {
  color: #fadb14;
  font-size: 14px;
}