@import '~antd/dist/antd.css';
@import './components.scss';
@import './pages.scss';

$contentBgColor: #fff;

$starIconColor: #fadb14;

$mainFontColor: #222;

.ant-layout-content {
  background-color: $contentBgColor;
}

.main-content {
  padding: 24px;
  margin: 0;
  height: 100%;
  min-height: calc(100vh - 64px);
}

h1 {
  font-size: 30px;
  margin: 0;
}


